body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #674d4d;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.name-section {
    color: white;
    font-size: 0.8em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-left: 20px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav li a:hover {
    background-color: #dfdfdf;
    color: white;
}

#hero {
    background-color: #f4f4f4;
    padding: 100px 20px;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

footer {
    background-color: #674d4d;
    text-align: center;
    color: #333;
    padding: 20px 0;
}

#about {
    text-align: center;
    color: 0000;
}

#portfolio {
    text-align: center;
    background-color: #f4f4f4;
    padding: 50px 20px;
}

.portfolio-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.portfolio-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.portfolio-item h3 {
    margin: 10px 0;
    color: #333;
}

.portfolio-item p {
    color: #666;
}

#contact {
    text-align: center;
}